[Desktop Entry]
Name=Chess Clock
Exec=webapp-container --app-id="chessclock.jamesstanley" $@ www/index.html
Icon=www/assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
